h1 {
    color: #72A829;
}

#product-name{
    color: #72A829;
    font-size: 30px;
}

#product-detail-label, #product-description {
    color: #72A829;
    font-size: 20px;
}

#product-price {
    font-size: 20px;
}

#product-detail {
    font-size: 15px;
}
