<div class="container">
    <div class="d-flex justify-content-center m-5">
        <h1>Live Auction</h1>
    </div>
    <div class="row">
        <div class="col col-md-1"></div>
        <div class="col col-md-7">
            <img src='content/images/macbook-large.png' width="100%" class="img-fluid">
            <div class="row">
                <ul class="list-inline list-unstyled d-flex justify-content-center">
                    <li class="list-inline-item">
                        <img src='content/images/macbook.png' width="100px" class="img-fluid">
                    </li>
                    <li class="list-inline-item">
                        <img src='content/images/macbook.png' width="100px" class="img-fluid">
                    </li>
                    <li class="list-inline-item">
                        <img src='content/images/macbook.png' width="100px" class="img-fluid">
                    </li>
                    <li class="list-inline-item">
                        <img src='content/images/macbook.png' width="100px" class="img-fluid">
                    </li>
                    <li class="list-inline-item">
                        <img src='content/images/macbook.png' width="100px" class="img-fluid">
                    </li>
                </ul>
            </div>
            <div class="row px-5">
                <div class="col">
                    <div class="row">
                        <div class="col d-flex justify-content-between">
                            <span>Current bid (VND)</span>
                            <span>15.000.000</span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-between">
                            <span>Buyer’s premium</span>
                            <span>10%</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-between">
                            <span>Bid Increment (VND)</span>
                            <span>20.000</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-between">
                            <span>End in</span>
                            <span>03:14:45</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center my-4">
                <hr class="hr w-50"/>
            </div>
            
            <ul class="list-inline list-unstyled">
                <li class="list-inline-item btn btn-success btn-sm">+50.000</li>
                <li class="list-inline-item btn btn-success btn-sm">+100.000</li>
                <li class="list-inline-item btn btn-success btn-sm">+150.000</li>
                <li class="list-inline-item btn btn-success btn-sm">+200.000</li>
                <li class="list-inline-item btn btn-success btn-sm">+300.000</li>
                <li class="list-inline-item btn btn-success btn-sm">+400.000</li>
                <li class="list-inline-item btn btn-info btn-sm">+500.000</li>
                <li class="list-inline-item btn btn-danger btn-sm">+1.000.000</li>
            </ul>
            <div class="row d-flex justify-content-center my-4">
                <hr class="hr w-50"/>
            </div>
            <form class="row g-3 d-flex justify-content-center">
                <div class="col-auto">
                    <!-- <label for="inputPassword2" class="visually-hidden">Password</label> -->
                    <input type="text" class="my-text-input">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-success mb-3 btn-sm">Submit a bid (default + 20.000)</button>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3 btn-sm">Export</button>
                </div>
            </form>
            <div class="row d-flex justify-content-center my-4">
                <hr class="hr w-50"/>
            </div>
            <div class="card mb-3 my-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-md-2">#10</div>
                        <div class="col col-md-8">14-04-2023 : 03:15:06</div>
                        <div class="col col-md-2">15.000.000</div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 my-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-md-2">#10</div>
                        <div class="col col-md-8">14-04-2023 : 03:15:06</div>
                        <div class="col col-md-2">15.000.000</div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 my-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-md-2">#10</div>
                        <div class="col col-md-8">14-04-2023 : 03:15:06</div>
                        <div class="col col-md-2">15.000.000</div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 my-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-md-2">#10</div>
                        <div class="col col-md-8">14-04-2023 : 03:15:06</div>
                        <div class="col col-md-2">15.000.000</div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 my-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-md-2">#10</div>
                        <div class="col col-md-8">14-04-2023 : 03:15:06</div>
                        <div class="col col-md-2">15.000.000</div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 my-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-md-2">#10</div>
                        <div class="col col-md-8">14-04-2023 : 03:15:06</div>
                        <div class="col col-md-2">15.000.000</div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 my-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-md-2">#10</div>
                        <div class="col col-md-8">14-04-2023 : 03:15:06</div>
                        <div class="col col-md-2">15.000.000</div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 my-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-md-2">#10</div>
                        <div class="col col-md-8">14-04-2023 : 03:15:06</div>
                        <div class="col col-md-2">15.000.000</div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 my-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-md-2">#10</div>
                        <div class="col col-md-8">14-04-2023 : 03:15:06</div>
                        <div class="col col-md-2">15.000.000</div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 my-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-md-2">#10</div>
                        <div class="col col-md-8">14-04-2023 : 03:15:06</div>
                        <div class="col col-md-2">15.000.000</div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 my-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-md-2">#10</div>
                        <div class="col col-md-8">14-04-2023 : 03:15:06</div>
                        <div class="col col-md-2">15.000.000</div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 my-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-md-2">#10</div>
                        <div class="col col-md-8">14-04-2023 : 03:15:06</div>
                        <div class="col col-md-2">15.000.000</div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center mb-5">
                <span class="btn btn-success btn-sm" style="width: 100px;">Show More</span>
            </div>
        </div>
        <!-- detail info on the right -->
        <div class="col col-md-4">
            <div class="card mb-3 my-card">
                <div class="card-img mt-1"></div>
                <div class="card-body">
                    <div class="row">
                        <p id="product-name">Macbook Pro 2022</p>
                        <p id="product-price">Price: 10,000,000 (VND)</p>
                        <p id="product-detail-label">Product Detail</p>
                    </div>

                    <div id="product-detail" class="row">
                        <div class="col col-md-4">
                            <p>Branch:</p>
                            <p>Ram:</p>
                            <p>CPU:</p>
                            <p>SSD:</p>
                            <p>Color:</p>
                        </div>
                        <div class="col col-md-8">
                            <p>Apple</p>
                            <p>8G</p>
                            <p>Corei10</p>
                            <p>500 G</p>
                            <p>Silver</p>
                        </div>
                    </div>

                    <div class="row">
                        <p id="product-description">Description</p>
                        <p>Hello world, I am mr ABC ...</p>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <span class="btn btn-success btn-sm" style="width: 100px;">Show More</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>