<div class="container">
    <div class="d-flex justify-content-center m-5">
        <h1 class="my-main-color">Create an Auction</h1>
    </div>
    <div class="row">
        <div class="col col-md-6">
            <div class="row" style="position: relative;">
                <img src='content/images/macbook-large.png' width="100%" class="img-fluid">
                <a class="text-decoration-none my-center-btn text-center" style="width: 70px; height: 25px;">+</a>
            </div>
            <div class="row">
                <ul class="list-inline list-unstyled d-flex justify-content-center">
                    <li class="list-inline-item" style="position: relative;">
                        <img src='content/images/macbook.png' width="100px" class="img-fluid">
                        <a class="text-decoration-none my-center-btn text-center" style="width: 70px; height: 25px;">+</a>
                    </li>
                    <li class="list-inline-item" style="position: relative;">
                        <img src='content/images/macbook.png' width="100px" class="img-fluid">
                        <a class="text-decoration-none my-center-btn text-center" style="width: 70px; height: 25px;">+</a>
                    </li>
                    <li class="list-inline-item" style="position: relative;">
                        <img src='content/images/macbook.png' width="100px" class="img-fluid">
                        <a class="text-decoration-none my-center-btn text-center" style="width: 70px; height: 25px;">+</a>
                    </li>
                    <li class="list-inline-item" style="position: relative;">
                        <img src='content/images/macbook.png' width="100px" class="img-fluid">
                        <a class="text-decoration-none my-center-btn text-center" style="width: 70px; height: 25px;">+</a>
                    </li>
                    <li class="list-inline-item" style="position: relative;">
                        <img src='content/images/macbook.png' width="100px" class="img-fluid">
                        <a class="text-decoration-none my-center-btn text-center" style="width: 70px; height: 25px;">+</a>
                    </li>
                </ul>
            </div>
            <div class="row px-5">
                <div class="col">
                    <div class="row">
                        <label for="staticEmail" class="col-sm-6 col-form-label">Status</label>
                        <div class="col-sm-6">
                          <input readonly ="text" class="form-control-plaintext text-end" id="staticEmail" value="Incoming">
                        </div>
                    </div>
                    <div class="row">
                        <label for="staticEmail" class="col-sm-6 col-form-label">Current bid (VND)</label>
                        <div class="col-sm-6">
                          <input readonly ="text" class="form-control-plaintext text-end" id="staticEmail" value="0">
                        </div>
                    </div>
                    <div class="row">
                        <label for="staticEmail" class="col-sm-6 col-form-label">Buyer’s premium</label>
                        <div class="col-sm-6">
                          <input readonly ="text" class="form-control-plaintext text-end" id="staticEmail" value="10%">
                        </div>
                    </div>
                    <div class="row">
                        <label for="staticEmail" class="col-sm-6 col-form-label">Bid Increment (VND)</label>
                        <div class="col-sm-6">
                          <!-- <input type="text" class="form-control-plaintext" id="staticEmail" value=""> -->
                          <mat-form-field style="width: 100%;">
                            <mat-label></mat-label>
                            <input matInput placeholder="1.000.000" value="">
                          </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <label for="staticEmail" class="col-sm-6 col-form-label">Start at</label>
                        <div class="col-sm-6">
                          <!-- <input type="text" class="form-control-plaintext" id="staticEmail" value=""> -->
                          <mat-form-field style="width: 100%;">
                            <mat-label></mat-label>
                            <input matInput placeholder="" value="">
                          </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <label for="staticEmail" class="col-sm-6 col-form-label">End in</label>
                        <div class="col-sm-6">
                          <!-- <input type="text" class="form-control-plaintext" id="staticEmail" value=""> -->
                          <mat-form-field style="width: 100%;">
                            <mat-label></mat-label>
                            <input matInput placeholder="" value="">
                          </mat-form-field>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-end my-5">
                        <button mat-flat-button color="primary" style="width: 50%;">Create</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-6">
            <div class="row">
                <label for="staticEmail" class="col-sm-4 col-form-label">Product Name</label>
                <div class="col-sm-8">
                  <!-- <input type="text" class="form-control-plaintext" id="staticEmail" value=""> -->
                  <mat-form-field style="width: 100%;">
                    <mat-label></mat-label>
                    <input matInput placeholder="Macbook" value="">
                  </mat-form-field>
                </div>
            </div>
            <div class="row">
                <label for="staticEmail" class="col-sm-4 col-form-label">Product Price</label>
                <div class="col-sm-8">
                  <!-- <input type="text" class="form-control-plaintext" id="staticEmail" value=""> -->
                  <mat-form-field style="width: 100%;">
                    <mat-label></mat-label>
                    <input matInput placeholder="1.000.000" value="">
                  </mat-form-field>
                </div>
            </div>
            <div class="my-4 my-main-color">
                Product Detail
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field style="width: 100%;">
                      <mat-label></mat-label>
                      <input matInput placeholder="Key" value="">
                    </mat-form-field>
                  </div>
                <div class="col-sm-6">
                  <mat-form-field style="width: 100%;">
                    <mat-label></mat-label>
                    <input matInput placeholder="Value" value="">
                  </mat-form-field>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                  <mat-form-field style="width: 100%;">
                    <mat-label></mat-label>
                    <input matInput placeholder="Key" value="">
                  </mat-form-field>
                </div>
              <div class="col-sm-6">
                <mat-form-field style="width: 100%;">
                  <mat-label></mat-label>
                  <input matInput placeholder="Value" value="">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                  <mat-form-field style="width: 100%;">
                    <mat-label></mat-label>
                    <input matInput placeholder="Key" value="">
                  </mat-form-field>
                </div>
              <div class="col-sm-6">
                <mat-form-field style="width: 100%;">
                  <mat-label></mat-label>
                  <input matInput placeholder="Value" value="">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                  <mat-form-field style="width: 100%;">
                    <mat-label></mat-label>
                    <input matInput placeholder="Key" value="">
                  </mat-form-field>
                </div>
              <div class="col-sm-6">
                <mat-form-field style="width: 100%;">
                  <mat-label></mat-label>
                  <input matInput placeholder="Value" value="">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                  <mat-form-field style="width: 100%;">
                    <mat-label></mat-label>
                    <input matInput placeholder="Key" value="">
                  </mat-form-field>
                </div>
              <div class="col-sm-6">
                <mat-form-field style="width: 100%;">
                  <mat-label></mat-label>
                  <input matInput placeholder="Value" value="">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                  <mat-form-field style="width: 100%;">
                    <mat-label></mat-label>
                    <input matInput placeholder="Key" value="">
                  </mat-form-field>
                </div>
              <div class="col-sm-6">
                <mat-form-field style="width: 100%;">
                  <mat-label></mat-label>
                  <input matInput placeholder="Value" value="">
                </mat-form-field>
              </div>
            </div>
            <div class="my-4 my-main-color">
                Description
            </div>
            <div class="mb-3">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
              </div>
        </div>
    </div>
</div>