.auth{
    position:relative;
    width:100%;
    height: 100%;
    margin: auto;
    background-color: #31af36;
}
  
.fp{
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    background: #EEEEEE;
    width: 400px;
    height: 300px;
    text-align: center;
    padding-top: 30px;
    color: #BBBBBB;
    box-shadow: 0px 10px 30px 0px #111;
}

.fp mat-form-field{
    width: 90%;
}

.fp .btn-login{
    width: 90%;
    color: white;
    background-color: #31af36;
    height: 45px;
    margin-bottom: 20px;
}

.fp .signup {
    text-align: left;
    padding-left: 20px;
    float: left;;
}

.fp .create-account {
    text-align: right;
    padding-right: 20px;
    margin-bottom: 20px;
}

.fp .signup a, .fp .create-account a{
    color: #bbbbbb;
    text-decoration: none;
}

.fp .alert{
    color: #FF6600;
}