<div class="auth">
    <div class="fp">
        <h2>Forgot Password</h2>
        <form>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput required>
                <mat-hint align="end">examle@gmail.com</mat-hint>
            </mat-form-field>
            <button class="btn-login" mat-raised-button>SEND</button>
        </form>
        <div class="signup">
            <a mat-list-item routerLink="/auth/register"><span class="sidenav-section">Signup page</span></a>
        </div>
        <div class="create-account">
            <a mat-list-item routerLink="/auth/login"><span class="sidenav-section">Login page</span></a>
        </div>
        <span class="alert">User name or password is incorrect</span>
    </div>
</div>