<div class="create-account">
	<h2 mat-dialog-title>Create New Account</h2>
	<mat-dialog-content>
		<div class="form-create-account">
			<form>
				<mat-form-field appearance="outline">
					<mat-label>Account Code</mat-label>
					<input matInput required>
					<mat-hint align="end">nhut.nguyen</mat-hint>
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>Full Name</mat-label>
					<input matInput>
					<mat-hint align="end">Cao Minh Nhut</mat-hint>
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>Email</mat-label>
					<input matInput required>
					<mat-hint align="end">nhut.nguyen@gmail.com</mat-hint>
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>Password</mat-label>
					<input matInput type="password" required>
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>Confirmed password</mat-label>
					<input matInput type="password" required>
				</mat-form-field>
			</form>
			<span class="alert">Hi {{data.name}}. You will be added to database</span>
		</div>
	</mat-dialog-content>
	<mat-dialog-actions>
		<button mat-raised-button color="primary" mat-dialog-close="true">Create</button>
		<button mat-raised-button color="warn" mat-dialog-close="false">Cancel</button>
	</mat-dialog-actions>
</div>