.create-account{
    width: 400px;
}

.form-create-account {
    padding: 10px;
}

.form-create-account mat-form-field{
    width: 100%;
}

.alert{
    color: #FF6600;
}

.create-account h2{
    text-align: center;
}

.create-account mat-dialog-actions{
    justify-content: end;
    right: 30px;
}