<div class="auth">
    <div class="register">
        <h2>Change Password</h2>
        <form>
            <mat-form-field appearance="outline">
                <mat-label>Current password</mat-label>
                <input matInput required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>New password</mat-label>
                <input matInput type="password" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>New confirmed password</mat-label>
                <input matInput type="password" required>
            </mat-form-field>
            <button class="btn-login" mat-raised-button>SIGN UP</button>
        </form>
        <div class="forgot-password">
            <a mat-list-item routerLink="/auth/forgot-password"><span class="sidenav-section">Forgot password</span></a>
        </div>
        <div class="create-account">
            <a mat-list-item routerLink="/auth/login"><span class="sidenav-section">Login page</span></a>
        </div>
        <div class="divider"><mat-divider/></div>
        <div class="social">
            <button class="btn-social" color="primary" mat-mini-fab matTooltip="Login with Facebook"><mat-icon>facebook</mat-icon></button>
            <button class="btn-social" color="primary" mat-mini-fab matTooltip="Login with Gmail"><mat-icon>alternate_email</mat-icon></button>
            <button class="btn-social" color="primary" mat-mini-fab matTooltip="Login with Github"><mat-icon>device_hub</mat-icon></button>
        </div>
        <span class="alert">User name or password is incorrect</span>
    </div>
</div>