<div class="role-detail">
    <h3>Role Information</h3>
    <mat-divider/>
    <div class="role-profile">
        <div class="role-section">
            <div class="header"><h3>Role</h3></div>
            <form>
                <mat-form-field>
                    <mat-label>Read</mat-label>
                    <input matInput required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder="Comment"></textarea>
                </mat-form-field>
            </form>
        </div>
        <button mat-raised-button color="primary">Save</button>
    </div>
</div>