<div class="container">
    <div class="d-flex justify-content-center m-5">
        <h1>Auction</h1>
    </div>
    <div class="row">
        <div class="col col-md-1"></div>
        <div class="col col-md-7">
            <div class="row" style="position: relative;">
                <img src='content/images/macbook-large.png' width="100%" class="img-fluid">
                <a class="text-decoration-none my-center-btn text-center" style="width: 70px; height: 25px;">+</a>
            </div>
            <div class="row">
                <ul class="list-inline list-unstyled d-flex justify-content-center">
                    <li class="list-inline-item" style="position: relative;">
                        <img src='content/images/macbook.png' width="100px" class="img-fluid">
                        <a class="text-decoration-none my-center-btn text-center" style="width: 70px; height: 25px;">+</a>
                    </li>
                    <li class="list-inline-item" style="position: relative;">
                        <img src='content/images/macbook.png' width="100px" class="img-fluid">
                        <a class="text-decoration-none my-center-btn text-center" style="width: 70px; height: 25px;">+</a>
                    </li>
                    <li class="list-inline-item" style="position: relative;">
                        <img src='content/images/macbook.png' width="100px" class="img-fluid">
                        <a class="text-decoration-none my-center-btn text-center" style="width: 70px; height: 25px;">+</a>
                    </li>
                    <li class="list-inline-item" style="position: relative;">
                        <img src='content/images/macbook.png' width="100px" class="img-fluid">
                        <a class="text-decoration-none my-center-btn text-center" style="width: 70px; height: 25px;">+</a>
                    </li>
                    <li class="list-inline-item" style="position: relative;">
                        <img src='content/images/macbook.png' width="100px" class="img-fluid">
                        <a class="text-decoration-none my-center-btn text-center" style="width: 70px; height: 25px;">+</a>
                    </li>
                </ul>
            </div>
            <div class="row px-5 my-card-border m-5">
                <div class="col">
                    <div class="row">
                        <label for="staticEmail" class="col-sm-6 col-form-label">Status</label>
                        <div class="col-sm-6">
                          <input readonly ="text" class="form-control-plaintext text-end" id="staticEmail" value="Incoming">
                        </div>
                    </div>
                    <div class="row">
                        <label for="staticEmail" class="col-sm-6 col-form-label">Current bid (VND)</label>
                        <div class="col-sm-6">
                          <input readonly ="text" class="form-control-plaintext text-end" id="staticEmail" value="0">
                        </div>
                    </div>
                    <div class="row">
                        <label for="staticEmail" class="col-sm-6 col-form-label">Buyer’s premium</label>
                        <div class="col-sm-6">
                          <input readonly ="text" class="form-control-plaintext text-end" id="staticEmail" value="10%">
                        </div>
                    </div>
                    <div class="row">
                        <label for="staticEmail" class="col-sm-6 col-form-label">Bid Increment (VND)</label>
                        <div class="col-sm-6">
                          <input type="text" class="form-control-plaintext" id="staticEmail" value="">
                        </div>
                    </div>
                    <div class="row">
                        <label for="staticEmail" class="col-sm-6 col-form-label">Start at</label>
                        <div class="col-sm-6">
                          <input type="text" class="form-control-plaintext" id="staticEmail" value="">
                        </div>
                    </div>
                    <div class="row">
                        <label for="staticEmail" class="col-sm-6 col-form-label">End in</label>
                        <div class="col-sm-6">
                          <input type="text" class="form-control-plaintext" id="staticEmail" value="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-start m-5">
                <span class="btn btn-success btn-sm" style="width: 70px;">Save</span>
                <span class="btn btn-success btn-sm mx-5" style="width: 150px;">Submit Auction</span>
            </div>
        </div>
        <!-- detail info on the right -->
        <div class="col col-md-4">
            <div class="card mb-3 my-card">
                <div class="card-img mt-1"></div>
                <div class="card-body">
                    <div class="row">
                        <p id="product-name">Macbook Pro 2022</p>
                        <p id="product-price">Price: 10,000,000 (VND)</p>
                        <p id="product-detail-label">Product Detail</p>
                    </div>

                    <div id="product-detail" class="row">
                        <div class="col col-md-4">
                            <p>Branch:</p>
                            <p>Ram:</p>
                            <p>CPU:</p>
                            <p>SSD:</p>
                            <p>Color:</p>
                        </div>
                        <div class="col col-md-8">
                            <p>Apple</p>
                            <p>8G</p>
                            <p>Corei10</p>
                            <p>500 G</p>
                            <p>Silver</p>
                        </div>
                    </div>

                    <div class="row">
                        <p id="product-description">Description</p>
                        <p>Hello world, I am mr ABC ...</p>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <span class="btn btn-success btn-sm" style="width: 100px;">Show More</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>